/*Box-Sizing - padding and border of all elements no increase its width*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-image: url("/resources/images/background.jpg");
    background-size: cover;
}

.ContainerDiv{
    width: 200px;
    height: 200px;
    background-color: gray;
    border-style: solid ;
    border-color: deepskyblue;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    align-self: center;
    display: inline-block;
}

#userslist{
    color: deepskyblue;
}

#logoutButton{
    position: fixed;
    right: 5px;
    up: 5 px;
}

#logoutButton:hover{
    background-color: lightcoral;
}

.listHeadLine{
    text-align: center;
    text-decoration: underline;
    color: greenyellow;
}

#boxesDiv{
    margin: 0 auto;
    /*background-color: lightblue;*/
    text-align: center;
}

#uploadFileDiv{
    width: auto;
    height: auto;
    text-align: left;
}

#gameInfo{
    width: auto;
    height: auto;
}

#gameSelectList{
    display: block;
}

#startGameButton{
  border-width: 0;
  background-color: green;
  color: white;
  font-family: monospace;
  font-size: 11px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#startGameButton:hover,#deleteGameButton:hover{
background-color: blue;
}

#deleteGameButton{
  border-width: 0;
  background-color: red;
  color: white;
  font-family: monospace;
  font-size: 11px;
}

#deleteGameForm{
    display: inline;
}

#chooseGameForm{
    display: inline;
}

#gameIsActiveParagraph{
    color: greenyellow;
}