body{
    background-image: url("/resources/images/background.jpg");
    background-size: cover;
}

#loginDiv{
    margin: auto;
    width: 20%;
    padding: 10px;
    font-family: cursive;
    color: darkslategray;
}

#submitButton:hover{
    background-color: lightseagreen;
}