body{
    background-color: lightgreen;
}

button#quitButtonFromStatistics {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #b84e2b);
    background-image: -moz-linear-gradient(top, #d93434, #b84e2b);
    background-image: -ms-linear-gradient(top, #d93434, #b84e2b);
    background-image: -o-linear-gradient(top, #d93434, #b84e2b);
    background-image: linear-gradient(to bottom, #d93434, #b84e2b);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    margin-right: 1em;
    margin-top: 1em;
}

/*button#quitButtonFromStatistics:hover{*/
    /*background: #3cb0fd;*/
    /*background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);*/
    /*background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);*/
    /*background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);*/
    /*background-image: -o-linear-gradient(top, #3cb0fd, #3498db);*/
    /*background-image: linear-gradient(to bottom, #3cb0fd, #3498db);*/
    /*text-decoration: none;*/
/*}*/

/*#upperContainer {*/
    /*display: block;*/
    /*top: 5px;*/
    /*position: relative;*/
/*}*/

/*#boardsContainer {*/
    /*display: block;*/
    /*margin: 0 auto;*/
    /*position: relative;*/
    /*top: 50%;*/
/*}*/
