td {
    width: 32px;
    height: 32px;
    cursor: pointer;
    text-align: center;
    border: 2px solid blue;
}

/*Draw the cell that the mouse is hover in green*/
.trackBoardSquare:hover{
    background-color: lightblue;
}

/*td:hover{*/
    /*background-color: lightblue;*/
/*}*/

/*.boardSquare:hover{*/
    /*background-color: green;*/
/*}*/

.board{
    margin: auto;
    background-image: url("/resources/images/background.jpg");
}

.boardHeadline{
    text-align: center;
}

/*Board Squares Styles*/
.ship{
    background-image: url("/resources/images/battleship.png");
    background-size: cover;
}

.mine{
    background-image: url("/resources/images/mine.png");
    background-size: cover;
}

.hit{
    background-image: url("/resources/images/hit.png");
    background-size: cover;
}

.mineExplosion{
    background-image: url("/resources/images/mine-explosion.png");
    background-size: cover;
}

.drownShip{
    background-image: url("/resources/images/sinking-ship.png");
    background-size: contain;
}

.clickedSquare:hover{
    background-color: indianred;
}

.miss{
    background-color: darkorange;
}